.slider {
    padding: 0px 40px;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    // background-color: red;
    position: relative;
}

.window {
    width: 100%;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        display: none
    }

}

.sliderInner {
    width: 100%;
    display: flex;
    align-items: center;
    // justify-content: space-around;

}


.navigation {
    width: 20px;
    height: 20px;
    background-color: yellow;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);

    &.right {
        left: unset;
        right: 10px;
    }
}